#alerta {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 30vw;
    position: absolute;
    top:45%;
    margin-left:38%;
}


@keyframes slidein {
    from {
      top:50%;
      margin-left:50%;
    }
  
    to {
      margin-left:0%;
     visibility: hidden;
    }
  }

.container {
    color: rgb(168, 168, 176);
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
